<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Rwitter: Get out of your head!</title>
</head>
<body>
    <navbar class="hero is-small mb-4 is-dark">
        <div class="hero-body">
            <h1 class="title is-1">Rwitter - Your new Friend</h1>
            <p class="subtitle is-4">Let the world know what you think</p>
        </div>
    </navbar>

    <div class="container">
        <div class="columns">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    
</body>
</html>